section {
    padding: 40px;
    text-align: center;
  }
  
  
  .statistics {
    display: flex;
    justify-content: space-around;
  }
  
  .statistic {
    flex-basis: 20%;
    padding: 20px;
    background: linear-gradient(to bottom, #fff, rgba(230, 243, 236, 0.3));
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 36px;
    color: #4caf50;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    color: #333;
  }